.featured {
  height: 90vh;
  position: relative;
}

.featured-page-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.category {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.categories {
  cursor: pointer;
  background-color: #0b0b0b;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
  padding: 5px;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 100px;
  color: #fff;
  background-color: #0b0b0b;
  border-radius: 5px;
  padding: 10px;
}

.featured-img {
  width: 400px;
  max-height: 100px;
}

.featured-description {
  margin: 20px 0;
}

.buttons {
  display: flex;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.play {
  color: #0b0b0b;
  background-color: #fff;
}

.more {
  background-color: gray;
  color: #fff;
}

button span {
  margin-left: 5px;
}
