.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  position: fixed;
  z-index: 5;
}

.modalContainer {
  background-color: #0b0b0b;
  border-radius: 5px;
  margin: 150px auto;
  padding: 15px;
  width: 40%;
  max-width: 500px;
}

.list-item-icons-container {
  display: flex;
  margin-bottom: 10px;
}

div .list-item-icon {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

.item-info {
  padding: 5px;
}

.item-info-top {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: gray;
}

.age-limit {
  border: 1px solid gray;
  padding: 1px 3px;
  margin: 0 10px;
}

.movie-description {
  font-size: 13px;
  margin-bottom: 10px;
  color: white;
}

.list-item-genre {
  font-size: 14px;
  color: gray;
  margin-right: 10px;
}
