.create {
  width: 100%;
  display: flex;
}

.createContainer {
  flex: 5;
}

.createTop,
.createBottom {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
  display: flex;
}

.createTop > h1 {
  color: lightgray;
  font-size: 20px;
}

.createLeft {
  flex: 1;
  text-align: center;
}

.createImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.createRight {
  flex: 2;
}

.createForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.formInput {
  width: 40%;
}

.formInput > label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileIcon {
  cursor: pointer;
}

.formInput > input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

form > button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
