.list-item {
  width: 225px;
  height: 120px;
  background-color: #0b0b0b;
  margin-right: 5px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

.list-item:hover {
  width: 325px;
  height: 300px;
  position: absolute;
  top: -150px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.22);
  border-radius: 5px;
}

.list-item:hover .movie-img {
  height: 140px;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.movie-trailer {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
}

.item-info {
  padding: 5px;
}

.list-item-icons-container {
  display: flex;
  margin-bottom: 10px;
}

div .list-item-icon {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 16px;
}

.item-info-top {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: gray;
}

.age-limit {
  border: 1px solid gray;
  padding: 1px 3px;
  margin: 0 10px;
}

.movie-description {
  font-size: 13px;
  margin-bottom: 10px;
}

.list-item-genre {
  font-size: 14px;
  color: lightgray;
}
