.list-item {
  width: 225px;
  height: 120px;
  background-color: #0b0b0b;
  margin-right: 5px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  transition: transform 500ms;
  position: relative;
  display: block;
}

.list-item:hover,
.list-item:focus {
  transform: scale(1.2);
  z-index: 1;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
