.navbar {
  width: 100%;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.scrolled {
  background-color: #0b0b0b;
}

.netflix-logo {
  height: 25px;
  object-fit: contain;
  margin: 0 40px 0 50px;
}

.left {
  display: flex;
  align-items: center;
}

.nav-tags {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.link {
  color: white;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  object-fit: contain;
  cursor: pointer;
}

.icon {
  margin: 0 15px;
  cursor: pointer;
}

.options {
  display: none;
}

.profile:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #0b0b0b;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-tags {
    font-size: 17px;
  }
}

@media only screen and (max-width: 555px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .netflix-logo {
    margin: 0 20px;
  }
  .nav-tags {
    font-size: 15px;
  }
}
